<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

	<f:layout name="Content"/>

	<f:section name="Configuration">
		<flux:form id="toggle">

			<flux:form.sheet name="Text" label="Text">
				<flux:field.text name="settings.teasertext" label="Text" enableRichText="1" />
			</flux:form.sheet>

			<flux:form.sheet name="Image" label="Image">
				<flux:field.file name="settings.images" multiple="FALSE" maxItems="1" label="Image"/>
			</flux:form.sheet>

		</flux:form>
	</f:section>

	<f:section name="Preview">

	</f:section>

	<f:section name="Main">
		<div class="toggle-element">
			<h2 class="headline">
				<v:tag name="h{settings.content.settings.header.type -> v:or(alternative: record.header_layout) -> v:or(alternative: settings.header.type)}"
					   class="{settings.content.settings.header.className}" hideIfEmpty="{settings.content.settings.header.hideIfEmpty -> v:or(alternative: 1)}">
					{record.header -> f:format.raw()}
				</v:tag>
			</h2>
			<h4>
				<v:tag name="h{settings.content.settings.subheader.type -> v:or(alternative: record.subheader_layout) -> v:or(alternative: settings.subheader.type)}"
					   class="{settings.content.settings.subheader.className}" hideIfEmpty="{settings.content.settings.subheader.hideIfEmpty -> v:or(alternative: 1)}">
					{record.subheader -> f:format.raw()}
				</v:tag>
			</h4>

			<f:format.html>{settings.teasertext}</f:format.html>
			<f:if condition="{settings.images}">
				<div class="toggle-picture">
					<f:image src="{settings.images}"/>
				</div>
			</f:if>

		</div>
	</f:section>
</div>



